body {
    font-family: serif;
}  

.container {
    width: 1140px;
    margin: auto;
}
  
header,
.goods-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(245, 245, 239, 0.733);
    padding: 15px;
    border-radius: 10px;
}
  
.cart-button,
.by-btn {
    display: flex;
    cursor: pointer;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    color: #4a4a4a;
    padding: 5px 15px;
    outline: none;
    transition: all 0.3s;
}
  
.cart-button:hover,
.by-btn:hover {
    background-color: #f16d7f;
    color: #ffffff;
}

main {
    margin-top: 25px;
}

.goods-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.goods-photo {
    width: 150px;
    height: 150px;
    padding-bottom: 15px;
}
  